extends layout

block content
  .container.text-center
    .row
      .col-xs-4
        h3 Chat with someone?
    .row
      .col-xs-4
        textarea#messages
    .row
      .col-xs-4
        input(type="text")#message-input